# Binaries
gonymizer
gonymizer_*
gonymizer-*
bin/
golangci-lint

# Go packages
vendor

# Test Databases
docs/demos/dellstore2/dellstore2-normal-1.0

# Test files
db_test_*.log
output.Test*
export_*

# Test coverage
coverage.out
coverage.html

# IDE
.vscode
.idea

# Mac garbage
.DS_Store

# Demo SQL/Log files
docs/demos/dellstore2/*.sql
docs/demos/dellstore2/*.log
