# Binaries
gonymizer
gonymizer_*
gonymizer-*
bin/

export_*

# Test Databases
docs/demos/dellstore2/dellstore2-normal-1.0

# Test files
db_test_*.log
output.Test*

# Test coverage
coverage.out

# IntelliJ Idea
.idea

# Demo SQL/Log files
docs/demos/dellstore2/*.sql
docs/demos/dellstore2/*.log
